---
title: Oops! Not Found
layout: layout.njk
permalink: 404.html
---

<article>
    <h1>{{ title }}</h1>
    <p>
        There's nothing on this page. Maybe try starting from the <a href="/">home page?</a>
    </p>
</article>