---
layout: layout.njk
title: About
---

<article>

    <p><img alt="" height="684" width="1140" src="https://projectupland.com/wp-content/uploads/2023/03/Canada-Goose-Branta-canadensis-1600x1290.jpg"></p>

    <h1 class="no-padding-top">Hi, I’m Brandon "Bran<b>diino</b>" Wong.</h1>

    <p>I believe there’s a simpler, more resilient way to make things for the web.</p>

    <p>I create <a href="/web">websites for small businesses</a> and <a href="/consulting">work with amazing clients</a>. I also run a <a href="/tutoring">small tutoring business</a> that maintains my love for teaching.</p>

    <p>I have <a href="/cv">experience</a> advising and writing code for organizations like JUDI.AI, East Side Games, BC Rent Bank. Travis Drolet, my homie, has described me as “very capable.”</p>

    <p>I love ball sports, karaoke, strategy games, and stories set in a post apocolyptic setting. I live near Vancouver, BC's city centre where I compete in <a href="/volleyball">volleyball</a>, my favourite sport.</p>

    <ul class="list-inline list-inline-responsive">
        <li>
            <a class="link-no-underline" href="mailto:branjwong@hey.com">
                <svg xmlns="http://www.w3.org/2000/svg" class="margin-right" style="margin-bottom:-0.1875em;" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" aria-label="Email: ">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"></path>
                </svg>branjwong@hey.com</a>
        </li>
        <li>
            <a class="link-no-underline" href="https://www.linkedin.com/in/branjwong/">
                <svg xmlns="http://www.w3.org/2000/svg" class="margin-right" style="margin-bottom:-0.1875em;" width="1em" height="1em" viewBox="0 0 16 16" aria-label="Mastodon: ">
                    <path fill="currentColor" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"></path>
                </svg>@branjwong</a>
        </li>
    </ul>

    <p>Shout out to my grandma and my boy <a href="">Spencer Wong</a> for helping me with the name of the site. Credit to <a href="https://gomakethings.com/">Chris Ferdinandi</a> for the technical inspiration for this website.</p>

</article>