---
layout: layout.njk
title: Home
---

<article>
    <p></p>
    <p class="no-margin-bottom">
        <strong>Hi, I’m Brandon Wong.</strong>
    </p>
    <h1 class="text-xlarge text-normal no-padding-top margin-bottom-small">I help people...</h1>
    <p></p>
    <ul>
        <li>
            <a href="/web">build a simpler, faster web</a>
        </li>
        <li>
            learn about <a href="/tutoring/math">math</a>, <a href="/tutoring/physics">physics</a>, <a href="/tutoring/english">English</a>, and <a href="/tutoring/cs">computer science</a>
        </li>
        <li>
            <a href="/consulting">improve their business processes</a>
        </li>
    </ul>

    <p>
        <strong>Looking for help with either of these?</strong> Click on the links above to learn about how I can help you.
    </p>

    <blockquote>
	    This guy is my boy. Buy his services from him. His shit is fire.
        <cite>
            - <a href="https://www.linkedin.com/in/drolettravis/">Travis Drolet</a>
        </cite>
    </blockquote>

</article>